<form action="전송시 폼에 있는 정보를 수신할 서버의 페이지 url" method="전달방식">

<p>사진을 올리세요:</p>

<input type="file"name="user-photo"><br>
<input type="submit"value="upload 하세요">
<p>출발일자:
    <input type="date"name="depart">
    <input type="submit"value="전송">
</p>

<p>url을 입력하시오</p>
<input type="url"name="website">
<input type="submit"value="전송">
<p>검색</p>
<input type="search"name="search"placeholder="키워드를 입력하세요">
<input type="submit"value="전송">
</form>

<form> <!--원래는 한꺼번에 전송되는데 이렇게 분리하면 개별로 전송-->
        <p>이메일 주소를 입력하세요</p>
        <input type="email"name="email">
        <input type="submit"value="전송">
        
</form>
