<html>

<head>
    <style type="text/css">
        h2,
        p {
            width: 400px;
            font-size: 90%;
            line-height: 1.2em;
        }

        h2 {
            color: turquoise;
            border-bottom: 1px solid #0088dd;
        }

        p {
            min-height: 10px;
            max-height: 30px;
        }

        p.one {
            overflow: hidden;
        }

        p.two {
            overflow: scroll;
        }
    </style>

</head>
<h2>멋쟁이사자처럼</h2>
<p>dhddhddhdhjshdahdajkdhjhakjhdajhsdjahdjshdk</p>
<h3>멋쟁이 사자처럼</h3>
<p class="one">ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ</p>
<h3>멋쟁이사자처럼</h3>
<p class="two">dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p>

</html>