<head>
    <style type="text/css">
        .page{background-color: thistle; }
        *{font-family: arial;}
        h1{font-family: 'Courier New', Courier, monospace;} /*구체적으로 쓴게 적용된다*/
        i{color:green;} /*후자 우선의 원칙*/
        i{color:red;}
        b{color:pink;}
        p b{color:blue !important;}/*중요성*/
        p b{color:violet;} /* 폰트 바꾸기 */
        p#intro{font-size: 100%;}
        p{font-size: 75%;}


        
        </style>
</head>
<body>
    <div class="page">
        <h1>감자밭</h1>
        <p id="intro"><i>수십 가지</i>의 <b>감자</b> 품종이 존재한다</p>
        <p>재배 작형에 따라서 아아아아아아아아아아아아아아</p>

    </div>
</body>